@import "~bootstrap/scss/bootstrap";
@import "fonts.scss";

#root,
body {
  margin: 0;
}
.container {
  min-height: 100vh;
}
.bold-roboto {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
}
.regular-roboto {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
}
.tfs-small {
  font-size: 0.75em;
}

.tfs-normal {
  font-size: 1em;
}
@keyframes fadeIn {
  from {
    opacity: 0.2;
  }
  to {
    opacity: 1;
  }
}

.fade-in {
  opacity: 0.2;
  animation: fadeIn ease-in 1;
  animation-fill-mode: forwards;
  animation-duration: 0.2s;
}
