.table {
  th {
    border-top: none !important;
    border-bottom: 2px solid rgba(86, 61, 124, 0.3) !important;
  }
  .nr {
    color: #563d7c;
    opacity: 0.5;
  }
  tbody {
    .item {
      transition: 0.2s ease all;
      &:hover {
        background-color: rgba(86, 61, 124, 0.1);
      }
    }
    tr {
      border-bottom: 2px solid rgba(86, 61, 124, 0.4);
      td {
        padding-top: 1.2rem;
        padding-bottom: 1.2em;
      }
    }
  }
}
